# Byte-compiled / optimized / DLL files
__pycache__/
postgres/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#SettingsJson
**/.vscode/*
!.vscode/settings.json

# Ignore log files
*.log